:root {
    --zero-blue: #0d6efd;
    --zero-indigo: #6610f2;
    --zero-purple: #6f42c1;
    --zero-pink: #d63384;
    --zero-red: #dc3545;
    --zero-orange: #fd7e14;
    --zero-yellow: #ffc107;
    --zero-green: #198754;
    --zero-teal: #20c997;
    --zero-cyan: #0dcaf0;
    --zero-black: #000;
    --zero-white: #fff;
    --zero-gray: #7d879c;
    --zero-gray-dark: #373f50;
    --zero-gray-100: #f6f9fc;
    --zero-gray-200: #f3f5f9;
    --zero-gray-300: #e3e9ef;
    --zero-gray-400: #dae1e7;
    --zero-gray-500: #aeb4be;
    --zero-gray-600: #7d879c;
    --zero-gray-700: #4b566b;
    --zero-gray-800: #373f50;
    --zero-gray-900: #2b3445;
    --zero-primary: #fe696a;
    --zero-accent: #4e54c8;
    --zero-secondary: #f3f5f9;
    --zero-success: #42d697;
    --zero-info: #69b3fe;
    --zero-warning: #fea569;
    --zero-danger: #f34770;
    --zero-light: #fff;
    --zero-dark: #373f50;
    --zero-primary-rgb: 254, 105, 106;
    --zero-accent-rgb: 78, 84, 200;
    --zero-secondary-rgb: 243, 245, 249;
    --zero-success-rgb: 66, 214, 151;
    --zero-info-rgb: 105, 179, 254;
    --zero-warning-rgb: 254, 165, 105;
    --zero-danger-rgb: 243, 71, 112;
    --zero-light-rgb: 255, 255, 255;
    --zero-dark-rgb: 55, 63, 80;
    --zero-white-rgb: 255, 255, 255;
    --zero-black-rgb: 0, 0, 0;
    --zero-body-color-rgb: 75, 86, 107;
    --zero-body-bg-rgb: 255, 255, 255;
    --zero-font-sans-serif: "Rubik", sans-serif;
    --zero-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --zero-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --zero-body-font-family: var(--zero-font-sans-serif);
    --zero-body-font-size: 1rem;
    --zero-body-font-weight: 400;
    --zero-body-line-height: 1.5;
    --zero-body-color: #4b566b;
    --zero-body-bg: #fff;
    --zero-border-width: 1px;
    --zero-border-style: solid;
    --zero-border-color: #e3e9ef;
    --zero-border-color-translucent: rgba(0, 0, 0, 0.175);
    --zero-border-radius: 0.3125rem;
    --zero-border-radius-sm: 0.25rem;
    --zero-border-radius-lg: 0.4375rem;
    --zero-border-radius-xl: 1rem;
    --zero-border-radius-2xl: 2rem;
    --zero-border-radius-pill: 50rem;
    --zero-link-color: #fe696a;
    --zero-link-hover-color: #fe3638;
    --zero-code-color: #d63384;
    --zero-highlight-bg: #fff3cd
}

*,
*::before,
*::after {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: var(--zero-body-font-family);
    font-size: var(--zero-body-font-size);
    font-weight: var(--zero-body-font-weight);
    line-height: var(--zero-body-line-height);
    color: var(--zero-body-color);
    text-align: var(--zero-body-text-align);
    background-color: var(--zero-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

hr {
    margin: 0 0;
    color: #e3e9ef;
    border: 0;
    border-top: 1px solid;
    opacity: 1
}

h6,
h4,
h3,
.h3,
h1 {
    margin-top: 0;
    margin-bottom: .75rem;
    font-weight: 500;
    line-height: 1.2;
    color: #373f50
}

h1 {
    font-size: calc(1.375rem + 1.5vw)
}

@media(min-width: 1200px) {

    h1 {
        font-size: 2.5rem
    }
}

h3,
.h3 {
    font-size: calc(1.3rem + 0.6vw)
}

@media(min-width: 1200px) {

    h3,
    .h3 {
        font-size: 1.75rem
    }
}

h4 {
    font-size: calc(1.275rem + 0.3vw)
}

@media(min-width: 1200px) {

    h4 {
        font-size: 1.5rem
    }
}

h6 {
    font-size: 1.0625rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

ul {
    padding-left: 2rem
}

ul {
    margin-top: 0;
    margin-bottom: 1rem
}

a {
    color: var(--zero-link-color);
    text-decoration: none
}

a:hover {
    color: var(--zero-link-hover-color);
    text-decoration: none
}

img {
    vertical-align: middle
}

label {
    display: inline-block
}

button {
    border-radius: 0
}

button:focus:not(:focus-visible) {
    outline: 0
}

input,
button,
select {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,
select {
    text-transform: none
}

select {
    word-wrap: normal
}

select:disabled {
    opacity: 1
}

button,
[type=button] {
    -webkit-appearance: button
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
    cursor: pointer
}

::-moz-focus-inner {
    padding: 0;
    border-style: none
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
    padding: 0
}

::-webkit-inner-spin-button {
    height: auto
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-color-swatch-wrapper {
    padding: 0
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

::file-selector-button {
    font: inherit;
    -webkit-appearance: button
}

::file-selector-button {
    font: inherit;
    -webkit-appearance: button
}

.container {
    --zero-gutter-x: 1.875rem;
    --zero-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--zero-gutter-x)*.5);
    padding-left: calc(var(--zero-gutter-x)*.5);
    margin-right: auto;
    margin-left: auto
}

@media(min-width: 500px) {

    .container {
        max-width: 100%
    }
}

@media(min-width: 768px) {

    .container {
        max-width: 100%
    }
}

@media(min-width: 992px) {

    .container {
        max-width: 100%
    }
}

@media(min-width: 1280px) {

    .container {
        max-width: 1260px
    }
}

.row {
    --zero-gutter-x: 1.875rem;
    --zero-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1*var(--zero-gutter-y));
    margin-right: calc(-0.5*var(--zero-gutter-x));
    margin-left: calc(-0.5*var(--zero-gutter-x))
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--zero-gutter-x)*.5);
    padding-left: calc(var(--zero-gutter-x)*.5);
    margin-top: var(--zero-gutter-y)
}

.col {
    flex: 1 0 0%
}

.row-cols-1>* {
    flex: 0 0 auto;
    width: 100%
}

.col-12 {
    flex: 0 0 auto;
    width: 100%
}

.gy-3 {
    --zero-gutter-y: 1rem
}

.gx-4 {
    --zero-gutter-x: 1.5rem
}

@media(min-width: 500px) {

    .row-cols-sm-2>* {
        flex: 0 0 auto;
        width: 50%
    }

    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.33333333%
    }

    .gy-sm-4 {
        --zero-gutter-y: 1.5rem
    }
}

@media(min-width: 768px) {
    .col-md {
        flex: 1 0 0%
    }

    .row-cols-md-3>* {
        flex: 0 0 auto;
        width: 33.3333333333%
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%
    }
}

@media(min-width: 992px) {

    .row-cols-lg-4>* {
        flex: 0 0 auto;
        width: 25%
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%
    }
}

.form-label {
    margin-bottom: .375rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #373f50
}

.form-control {
    display: block;
    width: 100%;
    padding: .625rem 1rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4b566b;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dae1e7;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .3125rem;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media(prefers-reduced-motion: reduce) {
    .form-control {
        transition: none
    }
}

.form-control[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer
}

.form-control:focus {
    color: #4b566b;
    background-color: #fff;
    border-color: rgba(var(--zero-primary-rgb), 0.35);
    outline: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0), 0 .375rem .625rem -0.3125rem rgba(var(--zero-primary-rgb), 0.15)
}

.form-control::-webkit-date-and-time-value {
    height: 1.5em
}

.form-control::-moz-placeholder {
    color: #7d879c;
    opacity: 1
}

.form-control:disabled {
    background-color: #f6f9fc;
    opacity: 1
}

.form-control::-webkit-file-upload-button {
    padding: .625rem 1rem;
    margin: -0.625rem -1rem;
    -webkit-margin-end: 1rem;
    margin-inline-end: 1rem;
    color: #373f50;
    background-color: #f6f9fc;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    -webkit-transition: color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out, box-shadow .2s ease-in-out;
    transition: color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out, box-shadow .2s ease-in-out
}

.form-control::file-selector-button {
    padding: .625rem 1rem;
    margin: -0.625rem -1rem;
    -webkit-margin-end: 1rem;
    margin-inline-end: 1rem;
    color: #373f50;
    background-color: #f6f9fc;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    transition: color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out, box-shadow .2s ease-in-out
}

.form-control::file-selector-button {
    padding: .625rem 1rem;
    margin: -0.625rem -1rem;
    -webkit-margin-end: 1rem;
    margin-inline-end: 1rem;
    color: #373f50;
    background-color: #f6f9fc;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    transition: color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out, box-shadow .2s ease-in-out
}

@media(prefers-reduced-motion: reduce) {
    .form-control::-webkit-file-upload-button {
        -webkit-transition: none;
        transition: none
    }

    .form-control::file-selector-button {
        transition: none
    }

    .form-control::file-selector-button {
        transition: none
    }
}

.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: #f6f9fc
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: #f6f9fc
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: #f6f9fc
}

.form-control-sm::file-selector-button {
    padding: .425rem .75rem;
    margin: -0.425rem -0.75rem;
    -webkit-margin-end: .75rem;
    margin-inline-end: .75rem
}

.form-control-sm::file-selector-button {
    padding: .425rem .75rem;
    margin: -0.425rem -0.75rem;
    -webkit-margin-end: .75rem;
    margin-inline-end: .75rem
}

.form-control-lg::file-selector-button {
    padding: .75rem 1.25rem;
    margin: -0.75rem -1.25rem;
    -webkit-margin-end: 1.25rem;
    margin-inline-end: 1.25rem
}

.form-control-lg::file-selector-button {
    padding: .75rem 1.25rem;
    margin: -0.75rem -1.25rem;
    -webkit-margin-end: 1.25rem;
    margin-inline-end: 1.25rem
}

.form-control-color:not(:disabled):not([readonly]) {
    cursor: pointer
}

.form-select {
    display: block;
    width: 100%;
    padding: .625rem 3rem .625rem 1rem;
    -moz-padding-start: calc(1rem - 3px);
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4b566b;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23373f50' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 16px 12px;
    border: 1px solid #dae1e7;
    border-radius: .3125rem;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

@media(prefers-reduced-motion: reduce) {
    .form-select {
        transition: none
    }
}

.form-select:focus {
    border-color: rgba(var(--zero-primary-rgb), 0.35);
    outline: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0), 0 0 0 0 rgba(254, 105, 106, .25)
}

.form-select:disabled {
    background-color: #f3f5f9
}

.form-select:-moz-focusring {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0 #4b566b
}

.form-floating>.form-control:not(:-moz-placeholder-shown),
.form-floating>.form-control-plaintext:not(:-moz-placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: .625rem
}

.form-floating>.form-control:not(:-moz-placeholder-shown)~label {
    opacity: .65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem)
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%
}

.input-group>.form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0
}

.input-group>.form-control:focus {
    z-index: 5
}

.was-validated .input-group>.form-control:not(:focus):valid,
.input-group>.form-control:not(:focus).is-valid,
.was-validated .input-group>.form-select:not(:focus):valid,
.input-group>.form-select:not(:focus).is-valid,
.was-validated .input-group>.form-floating:not(:focus-within):valid,
.input-group>.form-floating:not(:focus-within).is-valid {
    z-index: 3
}

.was-validated .input-group>.form-control:not(:focus):invalid,
.input-group>.form-control:not(:focus).is-invalid,
.was-validated .input-group>.form-select:not(:focus):invalid,
.input-group>.form-select:not(:focus).is-invalid,
.was-validated .input-group>.form-floating:not(:focus-within):invalid,
.input-group>.form-floating:not(:focus-within).is-invalid {
    z-index: 4
}

.btn {
    --zero-btn-padding-x: 1.375rem;
    --zero-btn-padding-y: 0.625rem;
    --zero-btn-font-family: ;
    --zero-btn-font-size: 0.9375rem;
    --zero-btn-font-weight: normal;
    --zero-btn-line-height: 1.5;
    --zero-btn-color: #4b566b;
    --zero-btn-bg: transparent;
    --zero-btn-border-width: 1px;
    --zero-btn-border-color: transparent;
    --zero-btn-border-radius: 0.3125rem;
    --zero-btn-hover-border-color: transparent;
    --zero-btn-box-shadow: unset;
    --zero-btn-disabled-opacity: 0.65;
    --zero-btn-focus-box-shadow: 0 0 0 0 rgba(var(--zero-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--zero-btn-padding-y) var(--zero-btn-padding-x);
    font-family: var(--zero-btn-font-family);
    font-size: var(--zero-btn-font-size);
    font-weight: var(--zero-btn-font-weight);
    line-height: var(--zero-btn-line-height);
    color: var(--zero-btn-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--zero-btn-border-width) solid var(--zero-btn-border-color);
    border-radius: var(--zero-btn-border-radius);
    background-color: var(--zero-btn-bg);
    box-shadow: var(--zero-btn-box-shadow);
    transition: color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out, box-shadow .2s ease-in-out
}

@media(prefers-reduced-motion: reduce) {
    .btn {
        transition: none
    }
}

.btn:hover {
    color: var(--zero-btn-hover-color);
    background-color: var(--zero-btn-hover-bg);
    border-color: var(--zero-btn-hover-border-color)
}

.btn:focus-visible {
    color: var(--zero-btn-hover-color);
    background-color: var(--zero-btn-hover-bg);
    border-color: var(--zero-btn-hover-border-color);
    outline: 0;
    box-shadow: var(--zero-btn-box-shadow), var(--zero-btn-focus-box-shadow)
}

.btn-check:focus-visible+.btn {
    border-color: var(--zero-btn-hover-border-color);
    outline: 0;
    box-shadow: var(--zero-btn-box-shadow), var(--zero-btn-focus-box-shadow)
}

:not(.btn-check)+.btn:active,
.btn:first-child:active {
    color: var(--zero-btn-active-color);
    background-color: var(--zero-btn-active-bg);
    border-color: var(--zero-btn-active-border-color);
    box-shadow: var(--zero-btn-active-shadow)
}

.btn-check:checked+.btn:focus-visible,
:not(.btn-check)+.btn:active:focus-visible,
.btn:first-child:active:focus-visible,
.btn.active:focus-visible,
.btn.show:focus-visible {
    box-shadow: var(--zero-btn-active-shadow), var(--zero-btn-focus-box-shadow)
}

.btn:disabled {
    color: var(--zero-btn-disabled-color);
    pointer-events: none;
    background-color: var(--zero-btn-disabled-bg);
    border-color: var(--zero-btn-disabled-border-color);
    opacity: var(--zero-btn-disabled-opacity);
    box-shadow: none
}

.btn-accent {
    --zero-btn-color: #fff;
    --zero-btn-bg: #4e54c8;
    --zero-btn-border-color: #4e54c8;
    --zero-btn-hover-color: #fff;
    --zero-btn-hover-bg: #4247aa;
    --zero-btn-hover-border-color: #3e43a0;
    --zero-btn-focus-shadow-rgb: 105, 110, 208;
    --zero-btn-active-color: #fff;
    --zero-btn-active-bg: #3e43a0;
    --zero-btn-active-border-color: #3b3f96;
    --zero-btn-active-shadow: unset;
    --zero-btn-disabled-color: #fff;
    --zero-btn-disabled-bg: #4e54c8;
    --zero-btn-disabled-border-color: #4e54c8
}

.btn-link:focus-visible {
    text-decoration: none
}

.btn-link:focus-visible {
    color: var(--zero-btn-color)
}

.btn-sm {
    --zero-btn-padding-y: 0.425rem;
    --zero-btn-padding-x: 1rem;
    --zero-btn-font-size: 0.8125rem;
    --zero-btn-border-radius: 0.25rem
}

.fade {
    transition: opacity .15s linear
}

@media(prefers-reduced-motion: reduce) {
    .fade {
        transition: none
    }
}

.fade:not(.show) {
    opacity: 0
}

.collapse:not(.show) {
    display: none
}

.dropdown {
    position: relative
}

.dropdown-toggle {
    white-space: nowrap
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .23375rem;
    vertical-align: .23375rem;
    content: "";
    border-top: .275rem solid;
    border-right: .275rem solid rgba(0, 0, 0, 0);
    border-bottom: 0;
    border-left: .275rem solid rgba(0, 0, 0, 0)
}

.nav-link {
    display: block;
    padding: var(--zero-nav-link-padding-y) var(--zero-nav-link-padding-x);
    font-size: var(--zero-nav-link-font-size);
    font-weight: var(--zero-nav-link-font-weight);
    color: var(--zero-nav-link-color);
    transition: color .25s ease-in-out, background-color .25s ease-in-out, box-shadow .25s ease-in-out, border-color .25s ease-in-out
}

@media(prefers-reduced-motion: reduce) {
    .nav-link {
        transition: none
    }
}

.nav-link:hover,
.nav-link:focus {
    color: var(--zero-nav-link-hover-color)
}

.navbar {
    --zero-navbar-padding-x: 0;
    --zero-navbar-padding-y: 0.75rem;
    --zero-navbar-color: #4b566b;
    --zero-navbar-hover-color: var(--zero-primary);
    --zero-navbar-disabled-color: #7d879c;
    --zero-navbar-active-color: var(--zero-primary);
    --zero-navbar-brand-padding-y: 0.625rem;
    --zero-navbar-brand-margin-end: 1rem;
    --zero-navbar-brand-font-size: 1.75rem;
    --zero-navbar-brand-color: #373f50;
    --zero-navbar-brand-hover-color: #373f50;
    --zero-navbar-nav-link-padding-x: 1.125rem;
    --zero-navbar-toggler-padding-y: 0.75rem;
    --zero-navbar-toggler-padding-x: 0.75rem;
    --zero-navbar-toggler-font-size: 1rem;
    --zero-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%234b566b' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --zero-navbar-toggler-border-color: transparent;
    --zero-navbar-toggler-border-radius: 0;
    --zero-navbar-toggler-focus-width: 0;
    --zero-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--zero-navbar-padding-y) var(--zero-navbar-padding-x)
}

.navbar>.container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between
}

.navbar-brand {
    padding-top: var(--zero-navbar-brand-padding-y);
    padding-bottom: var(--zero-navbar-brand-padding-y);
    margin-right: var(--zero-navbar-brand-margin-end);
    font-size: var(--zero-navbar-brand-font-size);
    color: var(--zero-navbar-brand-color);
    white-space: nowrap
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: var(--zero-navbar-brand-hover-color)
}

.navbar-nav {
    --zero-nav-link-padding-x: 0;
    --zero-nav-link-padding-y: 0.75rem;
    --zero-nav-link-font-weight: normal;
    --zero-nav-link-color: var(--zero-navbar-color);
    --zero-nav-link-hover-color: var(--zero-navbar-hover-color);
    --zero-nav-link-disabled-color: var(--zero-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center
}

.navbar-toggler {
    padding: var(--zero-navbar-toggler-padding-y) var(--zero-navbar-toggler-padding-x);
    font-size: var(--zero-navbar-toggler-font-size);
    line-height: 1;
    color: var(--zero-navbar-color);
    background-color: rgba(0, 0, 0, 0);
    border: var(--zero-border-width) solid var(--zero-navbar-toggler-border-color);
    border-radius: var(--zero-navbar-toggler-border-radius);
    transition: var(--zero-navbar-toggler-transition)
}

@media(prefers-reduced-motion: reduce) {
    .navbar-toggler {
        transition: none
    }
}

.navbar-toggler:hover {
    text-decoration: none
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 var(--zero-navbar-toggler-focus-width)
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--zero-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%
}

@media(min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: var(--zero-navbar-nav-link-padding-x);
        padding-left: var(--zero-navbar-nav-link-padding-x)
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto
    }

    .navbar-expand-lg .navbar-toggler {
        display: none
    }
}

.card {
    --zero-card-spacer-y: 1.25rem;
    --zero-card-spacer-x: 1.25rem;
    --zero-card-title-spacer-y: 0.75rem;
    --zero-card-border-width: 1px;
    --zero-card-border-color: rgba(0, 0, 0, 0.085);
    --zero-card-border-radius: 0.4375rem;
    --zero-card-box-shadow: ;
    --zero-card-inner-border-radius: calc(0.4375rem - 1px);
    --zero-card-cap-padding-y: 0.625rem;
    --zero-card-cap-padding-x: 1.25rem;
    --zero-card-cap-bg: transparent;
    --zero-card-cap-color: ;
    --zero-card-height: ;
    --zero-card-color: ;
    --zero-card-bg: #fff;
    --zero-card-img-overlay-padding: 1rem;
    --zero-card-group-margin: 0.9375rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--zero-card-height);
    word-wrap: break-word;
    background-color: var(--zero-card-bg);
    background-clip: border-box;
    border: var(--zero-card-border-width) solid var(--zero-card-border-color);
    border-radius: var(--zero-card-border-radius);
    box-shadow: var(--zero-card-box-shadow)
}

.card-body {
    flex: 1 1 auto;
    padding: var(--zero-card-spacer-y) var(--zero-card-spacer-x);
    color: var(--zero-card-color)
}

.btn-close {
    box-sizing: content-box;
    width: .75rem;
    height: .75rem;
    padding: .25rem .25rem;
    color: #000;
    background: rgba(0, 0, 0, 0) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/0.75rem auto no-repeat;
    border: 0;
    border-radius: .3125rem;
    opacity: .5
}

.btn-close:hover {
    color: #000;
    text-decoration: none;
    opacity: .75
}

.btn-close:focus {
    outline: 0;
    box-shadow: none;
    opacity: .75
}

.btn-close:disabled {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    opacity: .25
}

.modal {
    --zero-modal-zindex: 1055;
    --zero-modal-width: 500px;
    --zero-modal-padding: 1.25rem;
    --zero-modal-margin: 0.5rem;
    --zero-modal-color: ;
    --zero-modal-bg: #fff;
    --zero-modal-border-color: #e3e9ef;
    --zero-modal-border-width: 1px;
    --zero-modal-border-radius: 0.4375rem;
    --zero-modal-box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0, 0, 0, 0.1);
    --zero-modal-inner-border-radius: calc(0.4375rem - 1px);
    --zero-modal-header-padding-x: 1.25rem;
    --zero-modal-header-padding-y: 1rem;
    --zero-modal-header-padding: 1rem 1.25rem;
    --zero-modal-header-border-color: var(--zero-border-color);
    --zero-modal-header-border-width: 1px;
    --zero-modal-title-line-height: 1.5;
    --zero-modal-footer-gap: 0.5rem;
    --zero-modal-footer-bg: ;
    --zero-modal-footer-border-color: var(--zero-border-color);
    --zero-modal-footer-border-width: 1px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--zero-modal-zindex);
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: var(--zero-modal-margin);
    pointer-events: none
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0, -50px)
}

@media(prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
        transition: none
    }
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - var(--zero-modal-margin)*2)
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--zero-modal-color);
    pointer-events: auto;
    background-color: var(--zero-modal-bg);
    background-clip: padding-box;
    border: var(--zero-modal-border-width) solid var(--zero-modal-border-color);
    border-radius: var(--zero-modal-border-radius);
    box-shadow: var(--zero-modal-box-shadow);
    outline: 0
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: var(--zero-modal-header-padding);
    border-bottom: var(--zero-modal-header-border-width) solid var(--zero-modal-header-border-color);
    border-top-left-radius: var(--zero-modal-inner-border-radius);
    border-top-right-radius: var(--zero-modal-inner-border-radius)
}

.modal-header .btn-close {
    padding: calc(var(--zero-modal-header-padding-y)*.5) calc(var(--zero-modal-header-padding-x)*.5);
    margin: calc(-0.5*var(--zero-modal-header-padding-y)) calc(-0.5*var(--zero-modal-header-padding-x)) calc(-0.5*var(--zero-modal-header-padding-y)) auto
}

.modal-title {
    margin-bottom: 0;
    line-height: var(--zero-modal-title-line-height)
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: var(--zero-modal-padding)
}

@media(min-width: 500px) {
    .modal {
        --zero-modal-margin: 1.75rem;
        --zero-modal-box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0, 0, 0, 0.1)
    }

    .modal-dialog {
        max-width: var(--zero-modal-width);
        margin-right: auto;
        margin-left: auto
    }
}

.visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important
}

.align-middle {
    vertical-align: middle !important
}

.d-inline-block {
    display: inline-block !important
}

.d-block {
    display: block !important
}

.d-flex {
    display: flex !important
}

.d-none {
    display: none !important
}

.shadow {
    box-shadow: 0 .25rem .5625rem -0.0625rem rgba(0, 0, 0, .03), 0 .275rem 1.25rem -0.0625rem rgba(0, 0, 0, .05) !important
}

.shadow-sm {
    box-shadow: 0 .125rem .3rem -0.0625rem rgba(0, 0, 0, .03), 0 .275rem .75rem -0.0625rem rgba(0, 0, 0, .06) !important
}

.shadow-lg {
    box-shadow: 0 .3rem 1.525rem -0.375rem rgba(0, 0, 0, .1) !important
}

.shadow-none {
    box-shadow: none !important
}

.border-0 {
    border: 0 !important
}

.border-bottom-0 {
    border-bottom: 0 !important
}

.h-100 {
    height: 100% !important
}

.flex-column {
    flex-direction: column !important
}

.flex-shrink-0 {
    flex-shrink: 0 !important
}

.justify-content-between {
    justify-content: space-between !important
}

.align-items-center {
    align-items: center !important
}

.my-2 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important
}

.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important
}

.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important
}

.mt-4 {
    margin-top: 1.5rem !important
}

.mt-5 {
    margin-top: 3rem !important
}

.me-2 {
    margin-right: .5rem !important
}

.me-3 {
    margin-right: 1rem !important
}

.me-4 {
    margin-right: 1.5rem !important
}

.me-auto {
    margin-right: auto !important
}

.mb-0 {
    margin-bottom: 0 !important
}

.mb-1 {
    margin-bottom: .25rem !important
}

.mb-2 {
    margin-bottom: .5rem !important
}

.mb-3 {
    margin-bottom: 1rem !important
}

.mb-4 {
    margin-bottom: 1.5rem !important
}

.mb-5 {
    margin-bottom: 3rem !important
}

.ms-2 {
    margin-left: .5rem !important
}

.ms-4 {
    margin-left: 1.5rem !important
}

.mt-n5 {
    margin-top: -3rem !important
}

.ms-n3 {
    margin-left: -1rem !important
}

.p-4 {
    padding: 1.5rem !important
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important
}

.pt-2 {
    padding-top: .5rem !important
}

.pt-4 {
    padding-top: 1.5rem !important
}

.pt-5 {
    padding-top: 3rem !important
}

.pe-1 {
    padding-right: .25rem !important
}

.pe-5 {
    padding-right: 3rem !important
}

.pb-3 {
    padding-bottom: 1rem !important
}

.pb-5 {
    padding-bottom: 3rem !important
}

.fs-5 {
    font-size: 1.25rem !important
}

.fs-sm {
    font-size: 0.875rem !important
}

.fw-light {
    font-weight: 300 !important
}

.fw-normal {
    font-weight: 400 !important
}

.fw-bold {
    font-weight: 700 !important
}

.text-center {
    text-align: center !important
}

.text-nowrap {
    white-space: nowrap !important
}

.text-light {
    --zero-text-opacity: 1;
    color: rgba(var(--zero-light-rgb), var(--zero-text-opacity)) !important
}

.text-body {
    --zero-text-opacity: 1;
    color: var(--zero-body-color) !important
}

.text-muted {
    --zero-text-opacity: 1;
    color: #7d879c !important
}

.bg-accent {
    --zero-bg-opacity: 1;
    background-color: rgba(var(--zero-accent-rgb), var(--zero-bg-opacity)) !important
}

.bg-light {
    --zero-bg-opacity: 1;
    background-color: rgba(var(--zero-light-rgb), var(--zero-bg-opacity)) !important
}

.rounded {
    border-radius: var(--zero-border-radius) !important
}

.rounded-3 {
    border-radius: var(--zero-border-radius-lg) !important
}

.bg-faded-info {
    --zero-bg-opacity: 0.09;
    background-color: rgba(var(--zero-info-rgb), var(--zero-bg-opacity)) !important
}

@media(min-width: 500px) {

    .d-sm-block {
        display: block !important
    }

    .pt-sm-3 {
        padding-top: 1rem !important
    }
}

@media(min-width: 768px) {

    .d-md-block {
        display: block !important
    }

    .d-md-none {
        display: none !important
    }

    .mb-md-4 {
        margin-bottom: 1.5rem !important
    }
}

@media(min-width: 992px) {

    .order-lg-1 {
        order: 1 !important
    }

    .order-lg-2 {
        order: 2 !important
    }

    .order-lg-3 {
        order: 3 !important
    }

    .ms-lg-4 {
        margin-left: 1.5rem !important
    }

    .px-lg-3 {
        padding-right: 1rem !important;
        padding-left: 1rem !important
    }

    .pt-lg-3 {
        padding-top: 1rem !important
    }

    .pb-lg-4 {
        padding-bottom: 1.5rem !important
    }
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

html,
body {
    height: 100%
}

body {
    display: flex;
    flex-direction: column
}

.page-wrapper {
    flex: 1 0 auto
}

a:focus {
    outline: none
}

a {
    transition: color .25s ease-in-out
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle
}

::-moz-selection {
    background: rgba(78, 84, 200, .15)
}

::selection {
    background: rgba(78, 84, 200, .15)
}

::-moz-selection {
    background: rgba(78, 84, 200, .15)
}

@media(max-width: 991.98px) {
    body {
        padding-top: 0 !important
    }
}

button:focus {
    outline: none
}

@font-face {
    font-family: "cartzilla-icons";
    src: url("../fonts/cartzilla-icons.ttf?ufvuz0") format("truetype"), url("../fonts/cartzilla-icons.woff?ufvuz0") format("woff"), url("../fonts/cartzilla-icons.svg?ufvuz0#cartzilla-icons") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block
}

.form-control:disabled {
    cursor: not-allowed
}

.btn-accent {
    --zero-btn-color: #fff;
    --zero-btn-hover-color: #fff;
    --zero-btn-active-color: #fff;
    --zero-btn-hover-bg: #383eb5;
    --zero-btn-active-bg: #383eb5;
    --zero-btn-hover-border-color: #383eb5;
    --zero-btn-active-border-color: #383eb5;
    --zero-btn-disabled-color: #fff
}

.btn>i {
    margin-top: -0.1875rem;
    vertical-align: middle
}

@-moz-document url-prefix() {
}

.btn-share {
    display: inline-block;
    padding: .25rem .625rem;
    transition: color .25s ease-in-out, background-color .25s ease-in-out;
    border-radius: .25rem;
    font-size: .875rem;
    text-decoration: none !important;
    vertical-align: middle
}

.btn-share>i {
    margin-top: -0.125rem;
    margin-right: .3125rem;
    font-size: 1.1em;
    vertical-align: middle
}

.btn-share.btn-twitter {
    background-color: rgba(29, 161, 242, .08);
    color: #1da1f2
}

.btn-share.btn-twitter:hover {
    background-color: #1da1f2
}

.btn-share.btn-instagram {
    background-color: rgba(88, 81, 219, .08);
    color: #5851db
}

.btn-share.btn-instagram:hover {
    background-color: #5851db
}

.btn-share.btn-facebook {
    background-color: rgba(59, 89, 152, .08);
    color: #3b5998
}

.btn-share.btn-facebook:hover {
    background-color: #3b5998
}

.btn-share:hover {
    color: #fff;
    box-shadow: none
}

.dropdown .dropdown-toggle::after {
    margin-left: .3rem;
    vertical-align: middle
}

.navbar-brand {
    display: inline-block;
    font-weight: 500;
    vertical-align: middle
}

.navbar-brand>img {
    display: block
}

.navbar-nav .nav-item {
    margin-bottom: .667rem;
    border-radius: .3125rem
}

.navbar-nav .nav-link {
    padding: .667rem 1.125rem;
    font-weight: 500
}

.navbar-tool-text {
    display: none;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: .875rem;
    transition: color .25s ease-in-out;
    font-size: .875rem;
    text-decoration: none !important;
    white-space: nowrap
}

@media(min-width: 992px) {

    .navbar-expand-lg .navbar-collapse {
        width: auto;
        flex-basis: auto
    }

    .navbar-expand-lg .navbar-nav .nav-item {
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0)
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-top: 1.125rem;
        padding-bottom: .875rem;
        font-weight: normal
    }

    .navbar-expand-lg .navbar-nav:not(.navbar-mega-nav) .nav-link.dropdown-toggle::after {
        display: none
    }

    .navbar-expand-lg .navbar-tool-text {
        display: block
    }
}

.navbar-light .nav-item {
    background-color: #f6f9fc
}

.navbar-light .nav-item:hover .nav-link:not(.disabled) {
    color: var(--zero-primary)
}

.navbar-light .nav-item.dropdown .nav-link:focus:not(.disabled) {
    color: var(--zero-primary)
}

.navbar-light .navbar-tool-text {
    color: #4b566b
}

@-moz-document url-prefix() {
}

.btn-close {
    transition: opacity .15s ease-in-out
}
